*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'tech';/* aqui escolhe um nome */
    src: url('OffBitTrial-Dot.ttf') format('truetype'), url('OffBitTrial-DotBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* 
    tipos format() 
    -opentype(otf)
    truetype (ttf)

    */
}
@font-face {
    font-family: 'techBold';/* aqui escolhe um nome */
    src: url('OffBitTrial-DotBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* 
    tipos format() 
    -opentype(otf)
    truetype (ttf)

    */
}
:root{
--cor01:#0F0F0F;
--cor02:#1B1B1B;
--corFonte: rgba(255, 255, 255, 0.226);
}
body,html{
height: 100vh;    
}

section#sessao01{
    background-color: var(--cor01);
    width: 100%;
    height: 1800px;
}
header{
    width: 100%;
    height: 180px;

}
menu{
width: 400px;
margin: auto;
padding: 30px 0;
border-bottom: 0.1px solid rgba(255, 255, 255, 0.226);
}
menu nav{
    width: 90%;
    margin: auto;
}
menu nav > a{
    text-decoration: none;
    color: white;
}
menu nav a:nth-child(2){
    float: right;
    font-family: sans-serif;
    font-weight: lighter;
    color:  rgba(255, 255, 255, 0.226);
    font-size: 1em;
}
menu nav a:nth-child(1){
    float: left;
   font-family: 'tech';
   font-size: 1.2em;
   letter-spacing: 0.1em;
   color: white;
}
section article{
    width: 380px;
    height: 450px;
    margin-left: 3%;
}
section article h1{
    font-family: 'Manrope', sans-serif;
    color: #5665B1;
    padding: 10px 0;
}
section article p:nth-child(2),p.font,p.p{
    font-family: 'tech';
    font-size: 2em;
    color: white;
}
p.font{
    font-family: 'techBold';
}
section article p:nth-child(8){
    color: rgba(255, 255, 255, 0.226);
    font-size: 1.3em;
    font-family: sans-serif;
    padding: 20px 0;
}
#links{
    margin-top: 30px;
    width: 100%;
}
section article a.link{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 30px;
    border-radius: 10px;
    width: 100px;
    font-family: sans-serif;
    font-weight: lighter;
}

section article a.link:nth-child(1){
background-color: white;
color: black;
}
section article a.link:nth-child(2){
    background-color: var(--cor01);
    border: 1px solid rgba(255, 255, 255, 0.226);
}
section#sessao02{
    width: 100%;
    padding-top:100px;
    height: 1100px;
    background-color: var(--cor02);
}
section#mostruario{
    width: 1100px;
    height: 700px;
    margin: auto;
}
section#mostruario > article{
    margin: 0;
    width: 100%;
    height: 100px;
    
}
section#mostruario > article h1{
   color:black;
   float: left;
   font-size: 3em;
   color: white;
   font-family: 'tech';
   font-weight: lighter;
}
section#mostruario > article a{
    text-align: center;
    float: right;
    width: 150px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-weight:bolder;
 }
 section#mostruario > aside{
    width: 100%;
 }
 section#mostruario aside{
    width: 100%;
    height: 500px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
 }
#colu,#colu02{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    justify-content:space-between;
    margin: 10px 10px 10px 0;
    gap: 1em;
}
.box{
   width: 100%;
   border-radius: 20px;
   border: 1px solid var(--corFonte);
   background-image: linear-gradient(to bottom,transparent,#222222);
}
.box{
    background-color: #e2ecf123;
}
.box-filho{
    width: 100%;
    height: 100%;
}
.box-filho img{
   width: 90%;
   display: block;
margin:30px auto 15px auto;
border-radius: 20px;
}

.box-filho p{
  text-align: center;
padding: 30px 0;
font-size: 1.3em;
color:  rgba(255, 255, 255, 0.226);
text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
font-family: sans-serif;
}
aside a{
    display: none;
}

section#sessao03{
    background-color: #0F0F0F;
    width: 100%;
    height: 700px;
}
article#comoFunciona{
    width: 1100px;
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1em;
}
article#comoFunciona h1{
 align-self:flex-start;
 margin: 20px 0;
 font-family: 'tech';
 font-size: 2em;
}
.colection{
    gap: 2em;
    flex-grow: 1;
    justify-content: space-between;
}
.colection h3{
 font-family: 'tech';
color: #5665B1;
padding: 10px;
font-size: 1.4em;
}
.colection p{
    font-weight: lighter;
    font-family: sans-serif;
    color: #e2ecf143;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
    line-height: 20px;
}
section#sessao04{
    width: 100%;
    height: 700px;
    background-color: var(--cor02);
    padding-top: 10%;
}
article#precos{
    width: 1200px;
    margin: auto;
    height: 400px;
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
}
article#precos h1{
    color: white;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    font-family: 'tech';
    font-weight: lighter;
}

article#precos p{
    font-size: 1.5em;
    color: #e2ecf143;
    font-family: sans-serif;
}
article.preco-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}
.preco-box-filho{
    width: 100%;
    height: 90%;
    margin: 1em;
    background-image: linear-gradient(to bottom,transparent,#222222);
    border: 1px solid #e2ecf143;
    border-radius: 20px;
}
.preco-box-filho{
  background-color: rgba(255, 255, 255, 0.181);
}
.preco-box-filho h2{
 width: 100%;
 height: 60%;
 padding: 20%;
 text-align: center;
 font-size: 4em;
 color: white;
 font-family: 'techBold';
}
.preco-box-filho p{
    width: 100%;
    height:auto;
    text-align: center;
}
section#sessao05{
    width: 100%;
    height: 1700px;
    background-color: #0F0F0F;
}
section#sessao05-filho{
    width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(farthest-side,rgba(0, 255, 255, 0.413),rgba(0, 255, 255, 0.149),transparent);
    background-position: bottom;
    background-size: 1200px 250px;
    background-repeat: no-repeat;
}
section#sessao05-filho h1{
  font-size: 3em;
  color: white;
  font-family: 'tech';
  font-weight: lighter;
}
article#sessao05-article{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    background-color: #1B1B1B;
    padding: 80px;
    border-radius:20px;
    
}
article#sessao05-article picture{
  background-color: #5665B1;
  flex-basis: 200px;
  border-radius: 50% 50%;
  height: 125px;
  background-image: url('images/pessoa.jpg') ;
  background-size: cover;
}
article#sessao05-article .sessao05-box{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 30px;
  }
  article#sessao05-article .sessao05-box h3{
    font-size: 2em;
    font-family: 'tech';
    color: white;
      } 
  article#sessao05-article .sessao05-box p{
    line-height: 20px;
    width: 80%;
font-size: 1em;
font-family: sans-serif;
color:var(--corFonte);
  } 
  article#sessao05-article .sessao05-box a{
    display: inline;
   width: 120px;
   padding: 15px 20px;
   background-color: white;
   color: black;
   text-align: center;
   text-decoration: none;
   font-weight: 400;
   font-family: sans-serif;
   font-size: 1em;
   border-radius: 10px;
      } 
       
      article#sessao05-article2{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 1.2em;
        justify-content: space-between;
        height: 400px;
        width: 100%;
        background-color: #1B1B1B;
        padding:10px 5%;
        border-radius:20px;
        align-items: center;
      }
      .sessao05-box02{
        border-radius: 20px;
        background-color: #0F0F0F;
        flex-grow: 1;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .sessao05-box02 > h5{
        font-family: 'Manrope', sans-serif;
        color: #5665B1;
        padding: 10px 0;
        font-size: 1.8em;

      }
      .sessao05-box02 >  p.p01{
        font-size:1.6em;
        color: white;
        font-family: 'tech';
        font-weight: lighter;
      }
      .sessao05-box02 > a{
        display: inline;
        width: 140px;
        padding: 15px 20px;
        background-color: white;
        color: black;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        font-family: sans-serif;
        font-size: 1em;
        border-radius: 10px;
      }
      article#sessao05-article3{
        display: flex;
        flex-direction: column;
        width: 1200px;
        align-items: center;
      }
      article#sessao05-article3 h1{
        color: white;
        text-align: center;
      }
      article#sessao05-article3 p{
        color:var(--corFonte);
        font-weight: lighter;
        font-display: normal;
        font-size: 1.2em;
        font-family: sans-serif;
      }
      form{
        margin:100px auto;
        display: flex;
        flex-direction: row;
       justify-content: space-evenly;
       gap: 1em;
      }
      form > .email > input[type=email]{
        padding: 20px;
        border-radius: 10px;
        border: none;
        background-color:var(--corFonte);
        font-size: 1em;
        text-shadow: 1px 1pc 1px black;
      }
    
      form > .submit > input[type=submit]{
        width: 120px;
        padding: 20px;
        border-radius: 10px;
        border: none;
        background-color: #5665B1;
        color: white;
        font-size: 1em;
      }
      footer{
        width: 100%;
        background-color: #0F0F0F;
        height: 300px;
      }
      footer article{
        width: 1200px;
        height: 100%;
        margin: auto;
      }
      footer article p{
        float: left;
        padding: 30px;
        color: white;

      }
      footer article ul{
        float: right;
      }
      footer article ul li{
        float: left;
        padding: 30px;
      }
      footer article ul li a{
      text-decoration: none;
      color: var(--corFonte);
      }