*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'tech';/* aqui escolhe um nome */
    src: url('OffBitTrial-Dot.ttf') format('truetype'), url('OffBitTrial-DotBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* 
    tipos format() 
    -opentype(otf)
    truetype (ttf)

    */
}
@font-face {
    font-family: 'techBold';/* aqui escolhe um nome */
    src: url('OffBitTrial-DotBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* 
    tipos format() 
    -opentype(otf)
    truetype (ttf)

    */
}
:root{
--cor01:#0F0F0F;
--cor02:#1B1B1B;
--corFonte: rgba(255, 255, 255, 0.226);
}
body,html{
height: 100vh;    
}

section#sessao01{
    background-color: var(--cor01);
    width: 100%;
    height: 1600px;
}
header{
    width: 100%;
    height: 180px;

}
menu{
width: 400px;
margin: auto;
padding: 30px 0;
border-bottom: 0.1px solid rgba(255, 255, 255, 0.226);
}
menu nav{
    width: 90%;
    margin: auto;
}
menu nav > a{
    text-decoration: none;
    color: white;
}
menu nav a:nth-child(2){
    float: right;
    font-family: sans-serif;
    font-weight: lighter;
    color:  rgba(255, 255, 255, 0.226);
    font-size: 1em;
}
menu nav a:nth-child(1){
    float: left;
   font-family: 'tech';
   font-size: 1.2em;
   letter-spacing: 0.1em;
   color: white;
}
section article{
    width: 380px;
    height: 450px;
    margin-left: 3%;
}
section article h1{
    font-family: 'Manrope', sans-serif;
    color: #5665B1;
    padding: 10px 0;
}
section article p:nth-child(2),p.font,p.p{
    font-family: 'tech';
    font-size: 2em;
    color: white;
}
p.font{
    font-family: 'techBold';
}
section article p:nth-child(8){
    color: rgba(255, 255, 255, 0.226);
    font-size: 1.3em;
    font-family: sans-serif;
    padding: 20px 0;
}
#links{
    margin-top: 30px;
    width: 100%;
}
section article a.link{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 30px;
    border-radius: 10px;
    width: 100px;
    font-family: sans-serif;
    font-weight: lighter;
}

section article a.link:nth-child(1){
background-color: white;
color: black;
}
section article a.link:nth-child(2){
    background-color: var(--cor01);
    border: 1px solid rgba(255, 255, 255, 0.226);
}
section#sessao02{
    width: 100%;
    background-color: red;
    padding-top:100px;
    height: 800px;
    background-color: var(--cor02);
}
section#mostruario{
    width: 1200px;
    height: 700px;
    margin: auto;
}
section#mostruario > article{
    margin: 0;
    width: 100%;
    height: 100px;
    
}
section#mostruario > article h1{
   color:black;
   float: left;
   font-size: 3em;
   color: white;
   font-family: 'tech';
   font-weight: lighter;
}
section#mostruario > article a{
    text-align: center;
    float: right;
    width: 150px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-weight:bolder;
 }
 section#mostruario > aside{
    background-color: #5665B1;
    width: 100%;
 }
 section#mostruario aside{
    width: 100%;
    height: 500px;
    margin: 20px 0;
    background-color: #5665B1;
    display: flex;
    flex-direction: column;
 }
#colu,#colu02{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 100%;
    height: 400px;
    justify-content:space-between;
    margin: 10px 10px 10px 0;
    gap: 1em;
}
.box{
   background-color: aqua;
   width: 100%;
}
